
/* Hero */
.hero {
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.hero strong {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    z-index: 1;
}
.hero video {
    text-align: center;
    width: auto;
    height: 105%;
}
@media screen and (max-width: 768px) {
    .hero strong {
        font-size: 50px;
    }
    .hero > video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: auto;
    min-height: 100vh;
    object-fit: cover;
  }
}

.overlay-glass {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(12px);
  z-index: 1; 
  pointer-events: none;
}

/* Img */
.project-hero-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}
.project-hero-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Section */
.project-section {
  margin: 0;
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  z-index: 2;
  background-color: white;
}
.project-section.light {
  background-color: white;
}
.project-section.dark {
  background-color: #111;
}
.project-section.none {
  background-color: transparent;
}

/* About */
.project-section#about {
    margin: 50vh 0;
    height: 100vh;
}
.project-about-describe {
    margin: auto 0;
    width: 70%;
    height: auto;
    justify-content: center;
}
.project-about-describe.black {
    color: #000;
}
.project-about-describe.white {
    color: #fff;
}
.project-about-title {
    margin: 0;
    padding: 10vh 0 0 14vw;
    font-size: 3vw;
    font-weight: lighter;
}
.project-about-text {
    padding: 8vh 0 0 14vw;
    font-size: 0.8vw;
    line-height: 3;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1vw;
}
.project-about-img {
    position: absolute;
    top: 50%;
    right: -10%;
    transform: translateY(-50%);
    width: 40%;
    height: 80%;
    z-index: 1;
}
.project-about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

/* Content */
.project-section#content {
  margin: 0;
  height: auto;
  position: relative;
  flex-direction: column;
  display: flex;
}
.project-content-container {
    margin-bottom: 10vh;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
}
.project-content-container.reverse {
    flex-direction: row-reverse;
}

.project-content-describe {
    margin: auto 0;
    width: 50%;
    height: auto;
    justify-content: center;
}
.project-content-describe.white {
    color: #fff;
}

.project-content-title {
    margin: 0;
    padding: 10vh 0 0 8vw;
    font-size: 3vw;
    font-weight: lighter;
    letter-spacing: 0.3vw;
}
.project-content-title.reverse{
    padding: 10vh 8vw 0 0;
}
.project-content-text {
    padding: 8vh 0 0 8vw;
    font-size: 0.8vw;
    line-height: 3;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1vw;
}
.project-content-text.reverse {
    padding: 8vh 8vw 0 0;
}
.project-content-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    height: 85%;
    z-index: 1;
}
.project-content-img.left {
    right: 5%;
}
.project-content-img.right {
    left: 5%;
}

.project-content-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
}

/* === Project Viewall === */
.project-viewall {
    padding: 30vh 0;
    text-align: center;
    background-color: #fff;
    z-index: 5;
}